<div class="hero-unit">
  <h1>Cheerio!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Injuries Treated</h2>
          <ul>
              <li>Sporting injuries – Treatment and Rehabilitation</li>
              <li>Specialist in neck and back pain, including ‘whiplash’</li>
              <li>Foot Biomechanic assessment(for plantarfasciitis, Achilles pain, shin splints etc.)</li>
              <li>Shoulder injuries including ‘frozen shoulder’</li>
              <li>‘Tennis’ / ‘golfers’ elbow</li>
              <li>Post-operative rehabilitation</li>
          </ul>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Treatment Techniques</h2>
            <ul>
                <li>Spinal mobilisations and manipulations</li>
                <li>Soft tissue mobilisations including Sports Massage</li>
                <li>Acupuncture and Dry Needling</li>
                <li>Orthotics</li>
                <li>Taping & strapping including Kinesiology taping</li>
                <li>Pilates</li>
            </ul>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


</div>




</div>
