<div class="hero-unit">

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Nessa Smyth</h2>
          Nessa qualified in the UK in 1999 with a first class honours degree in Physiotherapy and subsequently went on to achieve a Masters in Sports Physiotherapy and Manipulation from University College London in 2004. She has a wealth of  experience working with athletes of all levels but also enjoys the challenge of treating and rehabilitating more chronic injuries that seemingly refuse to resolve.
          <ul>
              <li>London Olympics 2012 – Athletics</li>
              <li>World Etchells Sailing – 2010</li>
              <li>Chief Physio – Irish Mens Hockey (2002-2006)</li>
              <li>Commonwealth Games – 2002</li>
              <li>1st Division Rugby (UK + IRL)</li>
          </ul>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Injuries Treated</h2>
          <ul>
              <li>Sporting injuries – Treatment and Rehabilitation</li>
              <li>Specialist in neck and back pain, including ‘whiplash’</li>
              <li>Foot Biomechanic assessment(for plantarfasciitis, Achilles pain, shin splints etc.)</li>
              <li>Shoulder injuries including ‘frozen shoulder’</li>
              <li>‘Tennis’ / ‘golfers’ elbow</li>
              <li>Post-operative rehabilitation</li>
          </ul>  
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Treatment Techniques</h2>
            <ul>
                <li>Spinal mobilisations and manipulations</li>
                <li>Soft tissue mobilisations including Sports Massage</li>
                <li>Acupuncture and Dry Needling</li>
                <li>Orthotics</li>
                <li>Taping & strapping including Kinesiology taping</li>
                <li>Pilates</li>
            </ul>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


</div>
  


  
</div>
